@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}


h1{
    color: red;
    font-family: "Roboto";

}

.landing {
    background-image: url("/assets/img/bgimg1.jpg");
    min-height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("/assets/img/bgimg2.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url("/assets/img/bgimg3.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sliders {
    height:500px;
    background-color:red;
    font-size:36px;
}

.title {
    text-align: center;
    color:black;
    padding-top: 400px;
}

.navbar {
    background-color: green;
}

.top {
padding: 0;
}

.fa-candy-cane{
    color:red;
    font-size: 200%;
}

.footer{
    background-color: green;
    height:10%;
    font-size: 130%;
}

